


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #343a40;
    color: white;
    padding: 1em 0;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  } 

  main{
    text-align: center;
  }

  .main-characters {
    background: url("/assets/background-harry.webp");   
  }
  
  .intro {
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;   
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
  }

  .image-content  {
    display: flex;
    justify-content: center;
    margin: ;
         
  }

  .image-content img {
    max-height: 250px;    
    max-width: 250px;   
    border-radius: 6px  ;
    
  }

  .card-content {
    margin: auto;
    background: no-repeat url("../assets/background-old-styles.jpg");
    min-height: 380px;
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 9px 10px 85px -4px rgba(0,0,0,0.58);
    padding-top: 12px;
  }

  .info-content { 
    font-family: 'Crimson Text', sans-serif;   
  }

  .info-content h3 {
    font-family: 'Harry Potter', sans-serif;
    -webkit-text-stroke: 1px black; /* width and color */
    color: yellow;
  }

  .info-content p {
    margin: 0 0 5px 0;
    line-height: 1em;
  }

  .house-card {
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
  } 

  .houses img {    
    max-width: 184px;
    max-height: 276px;
  }

  .characters {
    background-color:     ;
  }

  h1 {
    font-family: 'Harry Potter';
    font-size: 60px;
    
  }  


